{% extends "index.html" %}

{% set active_page = "crearCuenta" %}

{% block title %}CrearCuenta{% endblock %}

{% block contenido %}

    <div class="input-field col s12" style="margin-top: 4rem;">
        <h3>Crear cuenta HUS</h3>
    </div>

    <form action="POST" class="z-depth-2 grey lighten-4 myForm" style="margin-top: 2rem;" novalidate>

        {{ form.hidden_tag() }}

        <!-- Primera sección -->
        <div class="row">

            <!-- Nombre -->
            <div class="col s3 input-field">
                {{ form.nombres.label }}
                {{ form.nombres }}
            </div>

            <!-- Apellidos -->
            <div class="col s3 input-field">
                {{ form.apellidos.label }}
                {{ form.apellidos }}
            </div>

            <!-- Password -->
            <div class="col s3 input-field">
                {{ form.password.label }}
                {{ form.password }}
            </div>

            <!-- Re Password -->
            <div class="col s3 input-field">
                {{ form.re_password.label }}
                {{ form.re_password }}
            </div>

        </div>

        <!-- Segunda Sección -->
        <div class="row">

            <!-- Select tipo documento -->
            <div class="col s3" style="margin-top: 14.500px !important; margin-bottom: 14.500px !important;">
                <select name="" id="">
                    {% for option in form.tipo_documento %}
                        {% if loop.first %}
                            <option value="" disabled selected>Tipo Documento</option>
                        {% endif %}
                    {{ option }}
                    {% endfor %}
                </select>
            </div>

            <!-- Número de documento -->
            <div class="col s3 input-field">
                {{ form.num_documento.label }}
                {{ form.num_documento }}
            </div>

            <!-- Fecha de nacimiento -->
            <div class="col s3 input-field">
                {{ form.fecha_nacimiento(class_="datepicker") }}
            </div>

            <!-- Select Sexo -->
            <div class="col s3" style="margin-top: 14.500px !important; margin-bottom: 14.500px !important;">
                <select name="" id="">
                    {% for option in form.sexo %}
                        {% if loop.first %}
                            <option value="" disabled selected>Sexo</option>
                        {% endif %}
                    {{ option }}
                    {% endfor %}
                </select>
            </div>

        </div>

        <!-- Tercera Sección -->
        <div class="row">

            <!-- Numero de teléfono -->
            <div class="col s3 input-field">
                {{ form.num_telefono.label }}
                {{ form.num_telefono }}
            </div>

            <!-- Seleccionar estado -->
            <div class="col s3" style="margin-top: 14.500px !important; margin-bottom: 14.500px !important;">
                {{ form.estado }}
            </div>

            <!-- aceptar terminos y condiciones -->
            <div class="col s6" style="margin-top: 38px;">
                <label>
                    <input type="checkbox" />
                    <span>Aceptar terminos y condiciones</span>

                    <a href="https://www.hus.org.co/recursos_user/POLITICA%20DE%20SEGURIDAD%20DEL%20PACIENTE.pdf"
                        target="_blank">
                        (Leer aquí)
                    </a>
                </label>
            </div>
            
        </div>

        <!-- Cuarta Sección -->
        <div class="row">

            <!-- Boton cancelar -->
            <div class="col s6" style="margin-top: 22px !important;">
                <button class="btn waves-effect waves-light col s12 red" type="reset" name="action">
                    CANCELAR
                </button>
            </div>


            <!-- Boton Guardar -->
            <div class="col s6" style="margin-top: 22px !important;">
                {{ form.guardar(class_="btn col s12 green") }}
            </div>
        </div>

    </form>

{% endblock %}